:root{
  /*color vars*/
  --grain: #d7cec7;
  --chalkboard: #565656;
  --oxblood: #76323f;
  --tan: #c09f80;

  --sky: #caebf2;
  --carbon: #a9a9a9;
  --watermelon: #ff3b3f;
  --neutral: #efefef;
}

/*page styling*/
.page {
  padding-top: 20px;
  width: 90%;
  margin: 0 auto;
  background: var(--white);
  color: var(--watermelon);
}
.container{
  max-width: 100%;
  min-height: calc(100vh - 90px); /*viewport height - footer height - footer margin - footer border... put viewport in html links!*/
}
header {
  text-align: right;
}
footer{
  height: 50px;
  line-height: 50px;
  margin-top: 40px;
  border-top: thin solid var(--carbon);
  padding: 0;
  font-size: small;
}

.panel{
  background: var(--neutral);
  border-radius: 0px;
}

.panel .page-header {
  margin-top: 0; /*remove default*/
  border-bottom: solid thin var(--carbon);
}

.panel .page-header h3 {
  font-size: 22px;
}

/*topic buttons*/
.topic-button-section{
  margin: 0 auto;
}
.topic-button-section .btn-group {
  margin: 5px;
}
.topic-button-section .btn-group .topic-button{
  /*margin: 5px;*/
  color: var(--watermelon);
  border: var(--watermelon) solid thin;
  background: transparent;
  font-weight: bolder;
}

.topic-button-section .btn-group .remove-button{
  color: var(--watermelon);
  background: white;
  border: var(--watermelon) solid thin;
}

/*topic form*/

.topic-form{
  margin: 20px auto 20px auto;
  overflow: auto;
  float:right;
  max-width: 220px;
}

.topic-form .topic-input{
}

.topic-form .submit-topic{
  background: var(--carbon);
  border: solid thin var(--carbon);
}


/*gifs*/
.gif-display-section .gif{
  margin: 10px;
  display: inline-block;
}
.gif-display-section .gif-image{
  /*using fixed height 200 from giphy*/
  max-width: 100%; /*contain within its container */
  box-shadow: 0px 2px 7px var(--chalkboard);
}
.gif-display-section .gif-rating{
  font-size: 17px;
  margin: 5px;
}

/*tablet or smaller */
@media screen and (max-width: 768px) {
  header {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 2;
    background: var(--watermelon);
    text-align: center;
    color: white;
    width: 100%;
    height: 60px;
    padding-top: 10px;
  }
  header h2, 
  header h4 {
    margin-top: 0;
    font-weight: lighter;
  }
  header h4 {
    background: white;
    color: var(--watermelon);
    padding: 5px;
  }
  footer{
    display: none;
  }
  .page {
    width: 100%;
    margin: 0 auto;
    padding: 0;
  }
  .container{
    max-width: 100%;
    padding: 15px;
    margin: 0;
    width: 100%;
  }
  /*fix at bottom of screen*/
  .topic-button-panel{
    position: fixed;
    bottom: 0;
    margin-bottom: 0;
    width: 100%;
    left: 0;
    height: 100px;
    padding: 0;
  }
  .gif-display-section .gif-image{
    height: 200px;
    margin: 0 auto;
    box-shadow: 0 0 0;
  }
  .gif-display-section .gif-rating{
    font-size: 10px;
  }
  .gif-display-section {
    margin-top: 70px; /*so it starts below header*/
    margin-bottom: 100px; /*so it shows above topic section*/
  }

 .topic-dropdown {
    background: white;
    color: var(--watermelon);
    height: 30px;
    margin:0;
  }
  .topic-form{
    margin: 0;
  }
}

/*phone landscape or smaller*/
@media screen and (max-width: 640px) {
  .gif-display-section .gif-image{
    width: 80%;
    height: auto;
    object-fit: cover;
    margin: auto;
  }
  .gif-display-section {
    text-align: center;
    width: 90%;
    margin: 60px auto 100px auto;
    padding: 20px;
  }
  .topic-dropdown {
    width: 185px;
  }
  .topic-form{
    width: 180px;
  }

}